<!DOCTYPE html>
<html>
  <header>
    <title>Party</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">
    <meta charset="UTF-8">
    <link href="https://unpkg.com/cirrus-ui" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link type="text/css" href="/assets/cirrus.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  </header>
  <body>
    <div class="hero fullscreen">
      <div class="row p-0">
        <div class="col-6 p-0">
          <div class="h-100" style="background: url(/assets/dwight.gif); background-size: cover; background-position: center; box-shadow: inset 5px 0px 9px 1px #00000017; min-height: 300px;"></div>
        </div>
        <div class="col-6 pt-20 level">
          <div class="u-text-left w-100">
            <div class="content">
              <h1>Lets party at Nate's Place! Backyard Bonfire BBQ!</h1>
              <h6 class="font-alt">Come celebrate Nate's 30th birthday with us! On March 26th at 4:30pm. There will be Burgers, Hot Dogs Pizza and Beer! &#x1F44C;</h6>
              <div class="divider"></div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1435.6443502676823!2d-78.94311069420048!3d43.9740788458858!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d51977ae2cf621%3A0x12e558ec345e1cea!2s24%20Burning%20Springs%20Pl%2C%20Whitby%2C%20ON%20L1M%201Z6!5e0!3m2!1sen!2sca!4v1646348771112!5m2!1sen!2sca" width="100%" height="250px" style="border:0;border-radius:1rem;box-shadow: -2px 4px 15px 4px rgba(0,0,0,0.2);" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>